html {
  scroll-behavior: smooth;
}

/* Root element */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Body color */
body {
  color: var(--text-color);
}

/* All links */
a {
  color: var(--text-color);
}

/* Visually hidden elements */
.visually-hidden {
  display: none;
}

/* Card categories */
.card-category {
  color: var(--color-primary);
}

/* Section taglines */
.section-tagline {
  color: var(--color-primary);
}