@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

/* Custom properties */
:root {
  --transition-duration: .3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Card work transformations */

/* Apply transitions on card-image in hover state */
.card-work:hover .card-image {
  transform: scale(1.2);
  transition: var(--transition-duration) var(--transition-cubic-bezier);
}

/* Apply transformations on card-outer in hover state */
.card-work:hover .card-outer {
  transform: scale(0.95);
}

/* Card-inner transitions */
.card-work .card-inner {
  transition: var(--transition-duration) var(--transition-cubic-bezier);
}

/* Navigation items animation */
.nav .nav-link::before {
  transition: var(--transition-duration) var(--transition-cubic-bezier);
}

/* Button hover animation */
.button:hover {
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
  color: var(--button-hover-color, #fff);
  background-color: var(--button-hover-background, #d73953);
}
